GROQ_API_KEY=
ROBOFLOW_API_KEY=
KAGGLE_API_TOKEN=
KAGGLE_USERNAME=
YOLO_MODEL_PATH=models/food_yolo11/best.pt
CONFIDENCE_THRESHOLD=0.5
MAX_RECIPES=3

# Supabase
SUPABASE_URL=https://vuxcbmzocpgqrfseolce.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# SMTP (Gmail)
SMTP_EMAIL=
SMTP_APP_PASSWORD=
